<!DOCTYPE html>
<html>
  {% load static %}
  <head>
    <title>{% block title %} APP TASK´s {% endblock %}</title>

    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/style.css' %}" />

    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'lib/bootstrap/css/bootstrap.min.css' %}" />

    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'lib/fontawesome/css/all.min.css' %}" />

    <link
      rel="shortcut icon"
      type="image/png"
      href="{% static 'img/tasks.png' %}" />
  </head> 

  <body class="d-flex flex-column">
    <div class="container py-3">
      <header>{% include '_navbar.html' %}</header>
      <main class="height-minimo">
        {% block content %}
        <!-- Contenido específico de cada página irá aquí -->
        {% endblock %}
      </main>
      <footer class="mt-auto border-top">
        <div class="row">
          <div class="col-12 col-md">
            <small class="d-block mb-3 text-body-secondary">&copy; 2024</small>
          </div>
        </div>
      </footer>
    </div>
  </body>
  <script src="{% static 'lib/jquery/jquery-3.2.1.min.js' %}"></script>
  <script src="{% static 'lib/popper/popper-1.12.9.min.js' %}"></script>
  <script src="{% static 'lib/bootstrap/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'lib/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
</html>
