/* Estilos generales para la app*/
.height-minimo {
  min-height: 78vh;
}
.custom-pill {
  border: 1px solid #ccc;
  border-radius: 50px; 
  width: 13vh;
  height: 5vh;
  justify-content: center;
  align-items: center;
  display: flex;
}
