{% extends '_base.html' %} 
{% block title %}Bienvenido a Task Management{%endblock %}
{% block content %}
<article class="container">
  <div class="text-center">
    <h1 class="mt-5">Bienvenido</h1>
    <p class="lead">Gestiona tus tareas de manera eficiente y organizada.</p>
    {% if user.is_authenticated == False %}
    <div class="mt-4">
      <a href="{% url 'signin' %}" class="btn btn-primary btn-lg mx-2">Iniciar Sesión</a>
      <a href="{% url 'signup' %}" class="btn btn-secondary btn-lg mx-2">Registrarse</a>
    </div>
    {% endif %}
  </div>
</article>
{% endblock %}
